body {
  font-family: "Open Sans", sans-serif;
  color: rgb(135, 135, 135);
}

li {
  list-style: none;
  text-align: left;
}

.weather-app-wrapper {
  max-width: 850px;
  margin: 0 auto;
}

.weather-app {
  max-width: 850px;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 3px;
  text-align: center;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.search-bar {
  max-width: 850px;
}

.search-input,
.btn-search,
.btn-cur-location {
  margin: 0;
  display: inline;
}

.opening-line {
  padding: 5px 20px 20px 20px;
  font-size: 45px;
  font-weight: 500;
  line-height: 25px;
}

.weather-detail {
  font-size: 20px;
}

.weather-detail-icon,
.weather-detail-temp {
  font-size: 60px;
}

.location,
.weather-detail-temp {
  color: black;
  padding-top: 40px;
}

.description {
  font-size: 15px;
  text-transform: capitalize;
}

.weather-detail-min-max,
.weather-detail-other {
  font-size: 15px;
}

.weather-detail-other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.units {
  padding-top: 20px;
  padding-bottom: 20px;
}

.last-update,
.footnote {
  text-align: center;
  font-size: small;
  padding: 5px;
}
